.information-box {
    border: 1px solid #ccc;
    border-left: 5px solid var(--blue-secondary);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
    width: 17%;
}

.information-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.information-box h6 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--blue-secondary);
    font-weight: 600;
    margin-top: 0.5rem;
}

.information-box p {
    margin: 0;
    font-size: 0.75rem;
    color: var(--dark-gray);
    margin-top: 0.5rem;
    font-style: italic;
}

.information-box svg{
    font-size: 2.5rem;
    color: var(--blue-secondary);
}

@media only screen and (min-width: 910px) and (max-width: 1230px) {
    .information-box {
        width: 30%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 909px) {
    .information-box {
        width: 48%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .information-box {
        width: 100%;
    }
}